/*@import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);*/

/*body {*/
/*  background-color: #673AB7;*/
/*  font-family: 'Calibri', sans-serif !important*/
/*}*/

/*.container{*/
/*  margin-top:100px;*/
/*}*/
/*.card {*/
/*  position: relative;*/
/*  display: -webkit-box;*/
/*  display: -ms-flexbox;*/
/*  display: flex;*/
/*  -webkit-box-orient: vertical;*/
/*  -webkit-box-direction: normal;*/
/*  -ms-flex-direction: column;*/
/*  flex-direction: column;*/
/*  min-width: 0;*/
/*  word-wrap: break-word;*/
/*  background-color: #fff;*/
/*  background-clip: border-box;*/
/*  border: 0px solid transparent;*/
/*  border-radius: 0px;*/
/*}*/


/*.card-body {*/
/*  -webkit-box-flex: 1;*/
/*  -ms-flex: 1 1 auto;*/
/*  flex: 1 1 auto;*/
/*  padding: 1.25rem;*/
/*}*/

/*.card .card-title {*/
/*  position: relative;*/
/*  font-weight: 600;*/
/*  margin-bottom: 10px;*/
/*}*/


/*.table {*/
/*  width: 100%;*/
/*  max-width: 100%;*/
/*  margin-bottom: 1rem;*/
/*  background-color: transparent;*/
/*}*/

/** {*/
/*  outline: none;*/
/*}*/

/*.table th, .table thead th {*/
/*  font-weight: 500;*/
/*}*/


/*.table thead th {*/
/*  vertical-align: bottom;*/
/*  border-bottom: 2px solid #dee2e6;*/
/*}*/


/*.table th {*/
/*  padding: 1rem;*/
/*  vertical-align: top;*/
/*  border-top: 1px solid #dee2e6;*/
/*}*/


/*.table th, .table thead th {*/
/*  font-weight: 500;*/
/*}*/


/*th {*/
/*  text-align: inherit;*/
/*}*/


/*.m-b-20 {*/
/*  margin-bottom: 20px;*/
/*}*/


/*.customcheckbox {*/
/*  display: block;*/
/*  position: relative;*/
/*  padding-left: 24px;*/
/*  font-weight: 100;*/
/*  margin-bottom: 12px;*/
/*  cursor: pointer;*/
/*  font-size: 22px;*/
/*  -webkit-user-select: none;*/
/*  -moz-user-select: none;*/
/*  -ms-user-select: none;*/
/*  user-select: none;*/
/*}*/


/*.customcheckbox input {*/
/*  position: absolute;*/
/*  opacity: 0;*/
/*  cursor: pointer;*/
/*}*/

/*.checkmark {*/
/*  position: absolute;*/
/*  top: -3px;*/
/*  left: 0;*/
/*  height: 20px;*/
/*  width: 20px;*/
/*  background-color: #CDCDCD;*/
/*  border-radius: 6px;*/
/*}*/


/*.customcheckbox input:checked ~ .checkmark {*/
/*  background-color: #2196BB;*/
/*}*/


/*.customcheckbox .checkmark:after {*/
/*  left: 8px;*/
/*  top: 4px;*/
/*  width: 5px;*/
/*  height: 10px;*/
/*  border: solid white;*/
/*  border-width: 0 3px 3px 0;*/
/*  -webkit-transform: rotate(45deg);*/
/*  -ms-transform: rotate(45deg);*/
/*  transform: rotate(45deg);*/
/*}*/

/*.button1{*/
/*display: inline-block;*/
/*outline: 0;*/
/*border: 0;*/
/*cursor: pointer;*/
/*background-color: #4299e1;*/
/*border-radius: 4px;*/
/*padding: 8px 16px;*/
/*font-size: 16px;*/
/*font-weight: 700;*/
/*color: white;*/
/*line-height: 26px;*/
/*}*/

/*.form1{*/
/*  width: 50%;*/
/*  color: rgb(36, 35, 42);*/
/*  font-size: 16px;*/
/*  line-height: 20px;*/
/*  min-height: 28px;*/
/*  border-radius: 4px;*/
/*  padding: 8px 16px;*/
/*  border: 2px solid transparent;*/
/*  box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;*/
/*  background: rgb(251, 251, 251);*/
/*  transition: all 0.1s ease 0s;*/
/*  :focus{*/
/*    border: 2px solid rgb(124, 138, 255);*/
/*  }*/


/*}*/
/*.button2{*/

/*  display: inline-block;*/
/*  outline: 0;*/
/*  border: 0;*/
/*  cursor: pointer;*/
/*  background-color: #4299e1;*/
/*  border-radius: 4px;*/
/*  padding: 8px 16px;*/
/*  font-size: 16px;*/
/*  border-bottom: 4px solid #2b6cb0;*/
/*  font-weight: 700;*/
/*  color: white;*/
/*  line-height: 26px;*/

/*}*/


.link-text {
  color: blue; /* Set text color to blue */
  cursor: pointer; /* Change cursor to pointer on hover */
}


.button_plus {
  width: 35px;
  height: 35px;
  background: #fff;
  cursor: pointer;
  border: 2px solid #095776;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s, border-color 0.2s;
  position: relative; /* Needed for absolute positioning of pseudo-elements */
}

.button_plus::after,
.button_plus::before {
  content: '';
  position: absolute;
  background-color: #095776;
}

.button_plus::after {
  width: 60%; /* Adjusted width of the horizontal line */
  height: 4px;
}

.button_plus::before {
  height: 60%; /* Adjusted height of the vertical line */
  width: 4px;
}

.button_plus:hover::after,
.button_plus:hover::before {
  background-color: #fff;
}

.button_plus:hover {
  background-color: #095776;
  border-color: #fff;
}


/*//*/
.button-like {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  outline: none;
  color: #007bff;
  text-decoration: underline;
}

.button-like:hover {
  text-decoration: none;
  color: #0056b3;
}
.input-group {
  display: flex;
  align-items: center;
}

.input-group input {
  flex: 1;
  margin-right: 5px; /* Adjust as needed */
}

body {
  background-color:rgb(90,184,63);
}

.rounded-button:hover {
  background-color: #40826D; /* Darker green on hover */
  transform: scale(1.1); /* Slightly increase size */
}

.rounded-button {
  background-color: rgb(22,180,123); /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 10px 20px; /* Some padding */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Make the button inline */
  font-size: 16px; /* Increase font size */
  border-radius: 25px; /* Rounded corners */
  cursor: pointer; /* Pointer/hand icon on hover */
  transition: background-color 0.5s, transform 0.5s; /* Slower transition for color and size */
}
.link-text2 {
  color: darkgrey; /* Set text color to blue */
  cursor: pointer; /* Change cursor to pointer on hover */
  font-size: 12px; /* Set font size to smaller value */
  font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" /* Change font family */
}

