<!--<p>users works!</p>-->
<!--<div class="container w-75 mt-2">-->
<!--  <div class="row">-->
<!--    <div class="col-12">-->
<!--      <div class="card">-->
<!--        <div class="card-body text-center">-->
<!--        </div>-->
<!--        <ng-container *ngIf="managers | async as projectList ; else failureOrLoading">-->
<!--          <div class="table-responsive">-->
<!--            <table class="table border-black" >-->
<!--              <thead class="thead-light">-->
<!--              <tr>-->
<!--                <th scope="col">Id</th>-->
<!--                <th scope="col"></th>-->
<!--                <th scope="col"></th>-->
<!--                <th scope="col"></th>-->
<!--              </tr>-->
<!--              </thead>-->
<!--              <tbody class="customtable" >-->
<!--              <tr *ngFor="let m of managers | async">-->
<!--                <td>{{m.id}}</td>-->
<!--                <td>{{m.first_name}}</td>-->
<!--                <td>{{m.password}}</td>-->
<!--              </tr>-->
<!--              </tbody>-->
<!--            </table>-->
<!--          </div>-->
<!--        </ng-container>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <ng-template #failureOrLoading>-->
<!--    <ng-container *ngIf="errorMessage ; else loading">-->
<!--      <div class="text-danger">-->
<!--        {{ errorMessage }}-->
<!--      </div>-->
<!--    </ng-container>-->
<!--    <ng-template #loading>-->
<!--      Loading...........-->
<!--    </ng-template>-->
<!--  </ng-template>-->
<!--</div>-->
<!--<ng-template #missingValue>-->
<!--  <td>N/A</td>-->
<!--</ng-template>-->


<!--<html data-bs-theme="light" lang="en" style="margin-top: -50px;">-->

<!--<head>-->
<!--  <meta charset="utf-8"/>-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>-->
<!--  <title>Table - Brand</title>-->
<!--</head>-->
<!--<ng-container *ngIf="managers | async as listmanagers ; else failureOrLoading">-->
<!--  <body id="page-top">-->
<!--  <div id="wrapper">-->
<!--    <div id="content-wrapper" class="d-flex flex-column">-->
<!--      <div id="content">-->
<!--        <div class="container-fluid"-->
<!--             style="padding-left: 50px;padding-right: 50px;padding-top: 0px;margin-top: 10px;margin-bottom: 50px;padding-bottom: 0px;">-->
<!--          <div class="card shadow">-->
<!--            <div class="card-body" style="padding-right: 80px;padding-left: 80px;margin-right: 0px;">-->
<!--              <div id="dataTablediv" class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">-->
<!--                <table id="dataTable" class="table my-0">-->
<!--                  <thead>-->
<!--                  <tr>-->
<!--                    <th>Nom</th>-->
<!--                    <th>Poste</th>-->
<!--                    <th style="padding-left: 0px;padding-right: 0px;">E-mail</th>-->
<!--                  </tr>-->
<!--                  </thead>-->
<!--                  <tbody>-->
<!--                  <tr *ngFor="let m of pagedManagers">-->
<!--                    &lt;!&ndash;                    (click)="handleGetSupplierDetails(s)"&ndash;&gt;-->
<!--                    <td>-->
<!--                      <div >{{ m.first_name }}  {{ m.last_name }}</div>-->
<!--                    </td>-->
<!--                    <td>-->
<!--                      <div >{{ m.job_title }}</div>-->
<!--                    </td>-->
<!--                    <td>-->
<!--                      <div>{{ m.email }}</div>-->
<!--                    </td>-->
<!--                  </tr>-->
<!--                  </tbody>-->
<!--                  <tfoot>-->
<!--                  <tr *ngIf="secService.hasRoleIn(['ADMIN'])">-->
<!--                    <td class="centered">-->
<!--                      <button class="button_plus" routerLink="/create-user"></button>-->
<!--                    </td>-->
<!--                  </tr>-->
<!--                  </tfoot>-->
<!--                </table>-->
<!--              </div>-->
<!--              <div class="row">-->
<!--                <div class="col-md-6 align-self-center">-->
<!--                  <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Page 1 of 2</p>-->
<!--                </div>-->
<!--                <div class="col-md-6">-->
<!--                  <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">-->
<!--                    <ul class="pagination">-->
<!--                      <button class="button-like" [disabled]="currentPage == 0" (click)="previousPage()">-->
<!--                        <li class="page-item disabled"><a class="page-link" aria-label="Previous"><span-->
<!--                          aria-hidden="true">«</span></a></li>-->
<!--                      </button>-->
<!--                      <li class="page-item active"><a class="page-link">{{ currentPage + 1 }} of {{ maxPage + 1 }}</a>-->
<!--                      </li>-->
<!--                      <button class="button-like" [disabled]="currentPage >= maxPage" (click)="nextPage()">-->
<!--                        <li class="page-item disabled"><a class="page-link" aria-label="Previous"><span-->
<!--                          aria-hidden="true">»</span></a></li>-->
<!--                      </button>-->
<!--                    </ul>-->
<!--                  </nav>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  </body>-->
<!--</ng-container>-->
<!--<ng-template #failureOrLoading>-->
<!--  <ng-container *ngIf="errorMessage ; else loading">-->
<!--    <div class="text-danger">-->
<!--      {{ errorMessage }}-->
<!--    </div>-->
<!--  </ng-container>-->
<!--  <ng-template #loading>-->
<!--    Loading...........-->
<!--  </ng-template>-->
<!--</ng-template>-->
<!--<ng-template #missingValue>-->
<!--  <td>N/A</td>-->
<!--</ng-template>-->
<!--<ng-template #noProjects>-->
<!--  <td>0</td>-->
<!--</ng-template>-->
<!--</html>-->




<html data-bs-theme="light" lang="en" style="margin-top: -50px;">

<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
  <title></title>
</head>
<ng-container *ngIf="managers | async as listManagers ; else failureOrLoading">
  <body id="page-top">
  <!--        style="margin-right: 50px;margin-left: 50px;margin-bottom: -208px;padding-top: 0px;padding-bottom: 222px;">-->
  <div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <div class="container py-2 py-xl-5" style="margin-top: 0px;">
          <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3" style="padding-top: 0px;margin-top: 2px;">
          </div>
        </div>
        <div class="container-fluid"
             style="padding-left: 50px;padding-right: 50px;padding-top: 0px;margin-top: 0px;margin-bottom: 50px;padding-bottom: 0px;">
          <div class="card shadow">
            <div class="card-header"><strong>Les Chefs de Projet</strong></div>
            <div class="card-body" style="padding-right: 80px;padding-left: 80px;margin-right: 0px;">
              <div class="row">
                <div class="col-md-6 col-lg-4">
                </div>
                <!--                <div class="col" style="padding-right: 10px; margin-right: 0px;">-->
                <!--                  <button class="btn btn-primary py-0" type="button"><i class="bi bi-search"></i></button>-->
                <!--                </div>-->

                <div class="col-md-6 col-lg-4">
                </div>
              </div>



              <div id="dataTablediv" class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
                <table id="dataTable" class="table my-0">
                  <thead>
                  <tr>
                    <th>Nom</th>
                    <th>Prenom </th>
                    <th>Poste </th>
                    <th>Email </th>
                    <th>Operations</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let m of pagedManagers">
                    <!--                    (click)="handleGetSupplierDetails(s)"-->
                    <td>
                      <div>{{ m.last_name }}</div>
                    </td>
                    <td>
                      <div>{{ m.first_name }}</div>
                    </td>
                    <td>
                      <div>{{ m.job_title }}</div>
                    </td>
                    <td>
                      <div>{{ m.email }}</div>
                    </td>
                    <td>
                      <i *ngIf="secService.hasRoleIn(['ADMIN'])"  class="m-3 link-text2" (click)="handleDeleteProjectManager(m)" >Supprimer</i>
                  </td>

                  </tr>
                  </tbody>
                  <div *ngIf="secService.hasRoleIn(['ADMIN'])">
                    <div class="centered">
                      <button class="rounded-button mt-3" routerLink="/create-user">Ajouter un utilisateur</button>
                    </div>
                  </div>
                </table>
              </div>
              <div class="row">
                <div class="col-md-6 align-self-center">
                  <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Page 1 of 2</p>
                </div>
                <div class="col-md-6">
                  <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                    <ul class="pagination">
                      <button class="button-like" [disabled]="currentPage == 0" (click)="previousPage()">
                        <li class="page-item disabled"><a class="page-link" aria-label="Previous"><span
                          aria-hidden="true">«</span></a></li>
                      </button>
                      <li class="page-item active"><a class="page-link" style="background-color: rgb(22,180,123)">{{ currentPage + 1 }} of {{ maxPage + 1 }}</a>
                      </li>
                      <button class="button-like" [disabled]="currentPage >= maxPage" (click)="nextPage()">
                        <li class="page-item disabled"><a class="page-link" aria-label="Previous"><span
                          aria-hidden="true">»</span></a></li>
                      </button>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>


          <div class="card shadow mt-5">
            <div class="card-header"><strong>Les Acheteurs</strong></div>
            <div class="card-body" style="padding-right: 80px;padding-left: 80px;margin-right: 0px;">
              <div class="row">
                <div class="col-md-6 col-lg-4">
                </div>
                <!--                <div class="col" style="padding-right: 10px; margin-right: 0px;">-->
                <!--                  <button class="btn btn-primary py-0" type="button"><i class="bi bi-search"></i></button>-->
                <!--                </div>-->

                <div class="col-md-6 col-lg-4">
                </div>
              </div>



              <div id="dataTableediv" class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
                <table id="dataTaeble" class="table my-0">
                  <thead>
                  <tr>
                    <th>Nom</th>
                    <th>Prenom </th>
                    <th>Poste </th>
                    <th>Email </th>
                    <th>Operations</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let b of pagedBuyer">
                    <!--                    (click)="handleGetSupplierDetails(s)"-->
                    <td>
                      <div>{{ b.last_name }}</div>
                    </td>
                    <td>
                      <div>{{ b.first_name }}</div>
                    </td>
                    <td>
                      <div>Acheteur</div>
                    </td>
                    <td>
                      <div>{{ b.email }}</div>
                    </td>
                    <td>
                      <i *ngIf="secService.hasRoleIn(['ADMIN'])"  class="m-3 link-text2" (click)="handleDeleteProjectManager(b)" >Supprimer</i>
                    </td>
                  </tr>
                  </tbody>
                  <div *ngIf="secService.hasRoleIn(['ADMIN'])">
                    <div class="centered">
                      <button class="rounded-button mt-3" routerLink="/create-user">Ajouter un utilisateur</button>
                    </div>
                  </div>
                </table>
              </div>
              <div class="row">
                <div class="col-md-6 align-self-center">
                  <p id="dataTabfle_info" class="dataTables_info" role="status" aria-live="polite">Page 1 of 2</p>
                </div>
                <div class="col-md-6">
                  <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                    <ul class="pagination">
                      <button class="button-like" [disabled]="currentPageBuyers == 0" (click)="previousPageBuyer()">
                        <li class="page-item disabled"><a class="page-link" aria-label="Previous"><span
                          aria-hidden="true">«</span></a></li>
                      </button>
                      <li class="page-item active"><a class="page-link" style="background-color: rgb(22,180,123)">{{ currentPageBuyers + 1 }} of {{ maxPageBuyers + 1 }}</a>
                      </li>
                      <button class="button-like" [disabled]="currentPageBuyers >= maxPageBuyers" (click)="nextPageBuyer()">
                        <li class="page-item disabled"><a class="page-link" aria-label="Previous"><span
                          aria-hidden="true">»</span></a></li>
                      </button>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
  </body>
</ng-container>
<ng-template #failureOrLoading>
  <ng-container *ngIf="errorMessage ; else loading">
    <div class="text-danger">
      {{ errorMessage }}
    </div>
  </ng-container>
  <ng-template #loading>
    Loading...........
  </ng-template>
</ng-template>
<ng-template #missingValue>
  <td>N/A</td>
</ng-template>
<ng-template #noProjects>
  <td>0</td>
</ng-template>
</html>



