<!--&lt;!&ndash;<p>new-project works!</p>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="card col-md-6 offset-3 mt-2">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="card-header">Add A Project</div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="card-body">&ndash;&gt;-->
<!--&lt;!&ndash;      <form [formGroup]="newProjectFormGroup" (ngSubmit)="handleSaveProject()"  >&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="mb-3">&ndash;&gt;-->
<!--&lt;!&ndash;          <label class="form-label">N_Contract : </label>&ndash;&gt;-->
<!--&lt;!&ndash;          <input type="text" formControlName="n_contract" class="form-control">&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="mb-3">&ndash;&gt;-->
<!--&lt;!&ndash;          <label class="form-label">Description : </label>&ndash;&gt;-->
<!--&lt;!&ndash;          <input type="text" formControlName="description" class="form-control">&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="mb-3">&ndash;&gt;-->
<!--&lt;!&ndash;          <label class="form-label">Starts At : </label>&ndash;&gt;-->
<!--&lt;!&ndash;          <input type="date" formControlName="startsAt" class="form-control">&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="mb-3">&ndash;&gt;-->
<!--&lt;!&ndash;          <label class="form-label">EndsAt : </label>&ndash;&gt;-->
<!--&lt;!&ndash;          <input type="date" formControlName="endsAt" class="form-control">&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="mb-3">&ndash;&gt;-->
<!--&lt;!&ndash;          <label class="form-label">Supplier Name : </label>&ndash;&gt;-->
<!--&lt;!&ndash;          <input type="text" formControlName="supplierName" class="form-control" value="{{supplierName}}" readonly>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="mb-3">&ndash;&gt;-->
<!--&lt;!&ndash;          <label class="form-label">Project Manager Name : </label>&ndash;&gt;-->
<!--&lt;!&ndash;          <input type="text" formControlName="projectManagerName" class="form-control" value="{{projectManagerName}}" readonly>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="mb-3">&ndash;&gt;-->
<!--&lt;!&ndash;          <p>supplier : {{supplierName}}</p>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <button [disabled]="!newProjectFormGroup.valid"  class="btn btn-info">Save</button>&ndash;&gt;-->
<!--&lt;!&ndash;      </form>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<html data-bs-theme="light" lang="en" style>-->

<!--<head>-->
<!--  <meta charset="utf-8" />-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />-->
<!--  <title></title>-->
<!--</head>-->

<!--<body id="page-top">-->
<!--<div id="wrapper">-->
<!--  <div id="content-wrapper" class="d-flex flex-column">-->
<!--    <div id="content">-->
<!--      <div class="container-fluid" style="margin-top: 30px;">-->
<!--        <h3 class="text-dark mb-4">Veuillez saisir les informations du projet</h3>-->
<!--        <div class="row mb-3">-->
<!--          <div class="col-lg-8">-->
<!--            <div class="row mb-3 d-none">-->
<!--              <div class="col">-->
<!--                <div class="card text-white bg-primary shadow">-->
<!--                  <div class="card-body">-->
<!--                    <div class="row mb-2">-->
<!--                      <div class="col">-->
<!--                        <p class="m-0">Peformance</p>-->
<!--                        <p class="m-0"><strong>65.2%</strong></p>-->
<!--                      </div>-->
<!--                      <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>-->
<!--                    </div>-->
<!--                    <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i> 5% since last month</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col">-->
<!--                <div class="card text-white bg-success shadow">-->
<!--                  <div class="card-body">-->
<!--                    <div class="row mb-2">-->
<!--                      <div class="col">-->
<!--                        <p class="m-0">Peformance</p>-->
<!--                        <p class="m-0"><strong>65.2%</strong></p>-->
<!--                      </div>-->
<!--                      <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>-->
<!--                    </div>-->
<!--                    <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i> 5% since last month</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-xl-11 p-5" style="margin-left: 20px;">-->
<!--            <div class="card shadow mb-3">-->
<!--              <div class="card-header py-3">-->
<!--                <p class="text-primary m-0 fw-bold">Project Info</p>-->
<!--              </div>-->
<!--              <div class="card-body">-->
<!--                <form [formGroup]="newProjectFormGroup" (ngSubmit)="handleSaveProject()">-->
<!--                  <div class="row">-->
<!--                    <div class="col">-->
<!--                      <div class="mb-3"><label class="form-label"><strong>N° Contrat</strong></label><input class="form-control" type="text" formControlName="n_contract" placeholder="N° Contrat" name="NContrat" /></div>-->
<!--                    </div>-->
<!--                    <div class="col">-->
<!--                      <div class="mb-3"><label class="form-label"><strong>Date Début Du Projet</strong></label><input class="form-control" type="date" formControlName="startsAt"/></div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="row">-->
<!--                    <div class="col" style="margin-bottom: 15px;">-->
<!--                      &lt;!&ndash;                      <div></div><label class="form-label"><strong>Fournisseur</strong></label>&ndash;&gt;-->
<!--                      &lt;!&ndash;                      <p>{{supplierName}}</p>&ndash;&gt;-->
<!--                      <label class="form-label" for="supplier"><strong>Fournisseur</strong></label>-->
<!--                      <select class="form-control" id="supplier" formControlName="supplier">&ndash;&gt;-->
<!--                        <option *ngFor="let s of allSuppliers|async" [value]="s.id">{{ s.name }}</option>-->
<!--                      </select>-->
<!--                    </div>-->
<!--                    <div class="col">-->
<!--                      <div class="mb-3"><label class="form-label"><strong>Date Fin Du Projet</strong></label><input class="form-control" type="date" formControlName="endsAt"/></div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="row">-->
<!--                    <div class="col">-->
<!--                      <div class="mb-3"><label class="form-label"><strong>Acheteur</strong></label><p>{{buyerName}}</p></div>-->
<!--                    </div>-->
<!--                    <div class="col" style="margin-bottom: 14px;">-->
<!--                      <label class="form-label" for="manager"><strong>Chef De Projet</strong></label>-->
<!--                      &lt;!&ndash;                      <p>{{projectManagerName}}</p>&ndash;&gt;-->
<!--                      &lt;!&ndash;                      <label for="category"><strong>Secteur d'activité</strong> </label>&ndash;&gt;-->
<!--                      <select class="form-control" id="manager" formControlName="manager">&ndash;&gt;-->
<!--                        <option *ngFor="let m of allManagers|async" [value]="m.id">{{ m.last_name }} {{ m.first_name }}</option>-->
<!--                      </select>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="row">-->
<!--                    <div class="mb-3"><label class="form-label"><strong>Montant</strong></label><input type="number" min="0" class="form-control" formControlName="amount"/></div>-->
<!--                  </div>-->
<!--                  <div class="row">-->
<!--                    <div class="mb-3"><label class="form-label"><strong>Description</strong></label><textarea class="form-control" formControlName="description"></textarea></div>-->
<!--                  </div>-->

<!--                  <div class="mb-3"></div>-->

<!--                  <button class="btn btn-primary btn-sm" [disabled]="!newProjectFormGroup.valid">Save Project</button>-->
<!--                </form>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--</body>-->

<!--</html>-->

<div class="demo-page">
  <main class="demo-page-content">
    <section *ngIf="EditProjectFormGroup">
      <div class="href-target" id="input-types"></div>
      <h1>
        <svg xmlns="http://www.w3.org/2000/svg" style="transform: rotate(90deg)" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-columns">
          <path d="M12 3h7a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-7m0-18H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h7m0-18v18" />
        </svg>
        Veuillez saisir les informations du projet      </h1>
      <form [formGroup]="EditProjectFormGroup"  (ngSubmit)="handleUpdateProject()">
        <div class="nice-form-group">
          <label>N° Contrat</label>
          <input required type="text" placeholder="N° Contrat"   formControlName="n_contract" />
        </div>


        <div class="nice-form-group">
          <label>Fournisseur</label>
          <select class="form-control" id="supplier" formControlName="supplier" required [value]="currentSupplier">
            <option [defaultSelected]="currentSupplier" *ngFor="let s of allSuppliers|async" [value]="s.id">{{ s.name }}</option>
          </select>
        </div>
        <div *ngIf="!project.evaluationId" class="nice-form-group">
          <label>Chef De Projet</label>
          <select  class="form-control" id="manager" formControlName="manager" required [value]="currentManager">
            <option [defaultSelected]="(currentManager)" *ngFor="let m of allManagers|async" [value]="m.id" >{{ m.last_name }} {{ m.first_name }}</option>
          </select>
        </div>
        <div class="nice-form-group">
          <label>Acheteur</label>
          <input type="text" disabled placeholder="Your name" [value]="this.project.buyerName" />
        </div>


        <div *ngIf="!project.evaluationId" class="nice-form-group">
          <label>Date Début Du Projet <strong>(Date Provisoire)</strong></label>
          <input type="date" formControlName="startsAt" required/>
        </div>
        <div *ngIf="!project.evaluationId" class="nice-form-group">
          <label>Date Fin Du Projet <strong>(Date Provisoire)</strong></label>
          <input type="date" placeholder="Date Début Du Projet" formControlName="endsAt" required/>
        </div>
        <div class="nice-form-group">
          <label>montant</label>
          <input type="number" placeholder="montant" formControlName="amount" min="0" required/>
        </div>

        <div class="nice-form-group">
          <label>Description</label>
          <textarea rows="7" placeholder="Description" formControlName="description" required></textarea>
        </div>
        <details>
          <summary>
            <button [disabled]="!EditProjectFormGroup"  class="rounded-button" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link">
                <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6" />
                <polyline points="15 3 21 3 21 9" />
                <line x1="10" y1="14" x2="21" y2="3" />
              </svg>
              Enregistrer
            </button>
          </summary>
        </details>
      </form>
    </section>
  </main>
</div>
