<!--<p>new-project works!</p>-->
<!--<div class="container">-->
<!--  <div class="card col-md-6 offset-3 mt-2">-->
<!--    <div class="card-header">Add A Project</div>-->
<!--    <div class="card-body">-->
<!--      <form [formGroup]="newProjectFormGroup" (ngSubmit)="handleSaveProject()"  >-->
<!--        <div class="mb-3">-->
<!--          <label class="form-label">N_Contract : </label>-->
<!--          <input type="text" formControlName="n_contract" class="form-control">-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--          <label class="form-label">Description : </label>-->
<!--          <input type="text" formControlName="description" class="form-control">-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--          <label class="form-label">Starts At : </label>-->
<!--          <input type="date" formControlName="startsAt" class="form-control">-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--          <label class="form-label">EndsAt : </label>-->
<!--          <input type="date" formControlName="endsAt" class="form-control">-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--          <label class="form-label">Supplier Name : </label>-->
<!--          <input type="text" formControlName="supplierName" class="form-control" value="{{supplierName}}" readonly>-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--          <label class="form-label">Project Manager Name : </label>-->
<!--          <input type="text" formControlName="projectManagerName" class="form-control" value="{{projectManagerName}}" readonly>-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--          <p>supplier : {{supplierName}}</p>-->
<!--        </div>-->
<!--        <button [disabled]="!newProjectFormGroup.valid"  class="btn btn-info">Save</button>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<html data-bs-theme="light" lang="en" style>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title></title>
</head>

<body id="page-top">
<div id="wrapper">
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <div class="container-fluid" style="margin-top: 30px;">
        <h3 class="text-dark mb-4">Veuillez saisir les informations du projet</h3>
        <div class="row mb-3">
          <div class="col-lg-8">
            <div class="row mb-3 d-none">
              <div class="col">
                <div class="card text-white bg-primary shadow">
                  <div class="card-body">
                    <div class="row mb-2">
                      <div class="col">
                        <p class="m-0">Peformance</p>
                        <p class="m-0"><strong>65.2%</strong></p>
                      </div>
                      <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                    </div>
                    <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i> 5% since last month</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card text-white bg-success shadow">
                  <div class="card-body">
                    <div class="row mb-2">
                      <div class="col">
                        <p class="m-0">Peformance</p>
                        <p class="m-0"><strong>65.2%</strong></p>
                      </div>
                      <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                    </div>
                    <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i> 5% since last month</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-11 p-5" style="margin-left: 20px;">
            <div class="card shadow mb-3">
              <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold">Project Info</p>
              </div>
              <div class="card-body">
                <form [formGroup]="newProjectFormGroup" (ngSubmit)="handleSaveProject()">
                  <div class="row">
                    <div class="col">
                      <div class="mb-3"><label class="form-label"><strong>N° Contrat</strong></label><input class="form-control" type="text" formControlName="n_contract" placeholder="N° Contrat" name="NContrat" /></div>
                    </div>
                    <div class="col">
                      <div class="mb-3"><label class="form-label"><strong>Date Début Du Projet</strong></label><input class="form-control" type="date" formControlName="startsAt"/></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col" style="margin-bottom: 15px;">
                      <!--                      <div></div><label class="form-label"><strong>Fournisseur</strong></label>-->
                      <!--                      <p>{{supplierName}}</p>-->
                      <label class="form-label" for="supplier"><strong>Fournisseur</strong></label>
                      <select class="form-control" id="supplier" formControlName="supplier">-->
                        <option *ngFor="let s of allSuppliers|async" [value]="s.id">{{ s.name }}</option>
                      </select>
                    </div>
                    <div class="col">
                      <div class="mb-3"><label class="form-label"><strong>Date Fin Du Projet</strong></label><input class="form-control" type="date" formControlName="endsAt"/></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="mb-3"><label class="form-label"><strong>Acheteur</strong></label><p>{{buyerName}}</p></div>
                    </div>
                    <div class="col" style="margin-bottom: 14px;">
                      <label class="form-label" for="manager"><strong>Chef De Projet</strong></label>
                      <!--                      <p>{{projectManagerName}}</p>-->
                      <!--                      <label for="category"><strong>Secteur d'activité</strong> </label>-->
                      <select class="form-control" id="manager" formControlName="manager">-->
                        <option *ngFor="let m of allManagers|async" [value]="m.id">{{ m.last_name }} {{ m.first_name }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="mb-3"><label class="form-label"><strong>Montant</strong></label><input type="number" min="0" class="form-control" formControlName="amount"/></div>
                  </div>
                  <div class="row">
                    <div class="mb-3"><label class="form-label"><strong>Description</strong></label><textarea class="form-control" formControlName="description"></textarea></div>
                  </div>

                  <div class="mb-3"></div>

                  <button class="btn btn-primary btn-sm" [disabled]="!newProjectFormGroup.valid">Save Project</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

</html>
