<div class="container w-75 mt-2">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title m-b-0">Projets du fournisseur : {{(projects|async)?.at(0)?.supplierName}}</h5>
        </div>
        <ng-container *ngIf="projects | async as projectList ; else failureOrLoading">
          <div class="table-responsive">
            <table class="table border-black" >
              <thead class="thead-light">
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Numero de Contract</th>
                <th scope="col">Evaluation</th>
                <th scope="col">Actions</th>
              </tr>
              </thead>
              <tbody class="customtable" >
              <tr *ngFor="let p of projects | async">
                <td>{{p.id}}</td>
                <td>{{p.n_contract}}</td>
                <td  *ngIf="p.evaluation_score ; else missingValue">{{p.evaluation_score}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <ng-template #failureOrLoading>
    <ng-container *ngIf="errorMessage ; else loading">
      <div class="text-danger">
        {{ errorMessage }}
      </div>
    </ng-container>
    <ng-template #loading>
      Loading...........
    </ng-template>
  </ng-template>
</div>
<ng-template #missingValue>
  <td>N/A</td>
</ng-template>
