<!--<div class="container w-75 mt-2">-->
<!--  <div class="row">-->
<!--    <div class="col-12">-->
<!--      <div class="card">-->
<!--        <div class="card-body text-center">-->
<!--          <h5 class="card-title m-b-0">Projets du fournisseur : {{(projects|async)?.at(0)?.supplierName}}</h5>-->
<!--        </div>-->
<!--        <ng-container *ngIf="projects | async as projectList ; else failureOrLoading">-->
<!--          <div class="table-responsive">-->
<!--            <table class="table border-black" >-->
<!--              <thead class="thead-light">-->
<!--              <tr>-->
<!--                <th scope="col">Id</th>-->
<!--                <th scope="col">Numero de Contract</th>-->
<!--                <th scope="col">Evaluation</th>-->
<!--                <th scope="col">Actions</th>-->
<!--              </tr>-->
<!--              </thead>-->
<!--              <tbody class="customtable" >-->
<!--              <tr *ngFor="let p of projects | async">-->
<!--                <td>{{p.id}}</td>-->
<!--                <td>{{p.n_contract}}</td>-->
<!--                <td  *ngIf="p.evaluation_score ; else missingValue">{{p.evaluation_score}}</td>-->
<!--              </tr>-->
<!--              </tbody>-->
<!--            </table>-->
<!--          </div>-->
<!--        </ng-container>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <ng-template #failureOrLoading>-->
<!--    <ng-container *ngIf="errorMessage ; else loading">-->
<!--      <div class="text-danger">-->
<!--        {{ errorMessage }}-->
<!--      </div>-->
<!--    </ng-container>-->
<!--    <ng-template #loading>-->
<!--      Loading...........-->
<!--    </ng-template>-->
<!--  </ng-template>-->
<!--</div>-->
<!--<ng-template #missingValue>-->
<!--  <td>N/A</td>-->
<!--</ng-template>-->

<html data-bs-theme="light" lang="en" style="margin-top: -50px;">

<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
  <title>Table - Brand</title>
</head>
<ng-container *ngIf="projects | async as listProjects ; else failureOrLoading">
  <body id="page-top">
  <div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <div class="container-fluid"
             style="padding-left: 50px;padding-right: 50px;padding-top: 0px;margin-top: 10px;margin-bottom: 50px;padding-bottom: 0px;">
          <h3 class="text-dark mb-4" style="padding-bottom: 0px;"><span
            style="color: rgb(78, 115, 223);">Projets</span></h3>
          <div class="card shadow border-start-primary py-2">
<!--            <div class="card-body">-->
<!--          <div class="card shadow">-->
<!--            <div class="card-header py-3">-->
<!--              <p class="text-primary m-0 fw-bold">Informations des Projets :</p>-->
<!--            </div>-->
            <div class="card-body" style="padding-right: 80px;padding-left: 80px;margin-right: 0px;">
              <div class="row">
                <div class="col-md-6 col-lg-4">
                  <div  *ngIf="searchFormGroup"  id="dataTable_filter" class="text-md-end dataTables_filter"
                        style="margin-right: 10px; padding-right: 10px;">
                    <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchProject()">
                      <div class="input-group " >
                        <input class="form-control form-control-sm" type="search" aria-controls="dataTable"
                               placeholder="Search" formControlName="keyword" />
                        <button class="btn btn-primary py-0 " style="background-color: rgb(22,180,123)" type="submit">
                          <i class="bi bi-search"></i>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div id="dataTablediv" class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
                <table id="dataTable" class="table my-0">
                  <thead>
                  <tr>
                    <th>N° Contrat</th>
                    <th style="padding-left: 0px;padding-right: 0px;" *ngIf="secService.hasRoleIn(['BUYER'])">Chef de Projet</th>
                    <th style="padding-left: 0px;padding-right: 0px;" *ngIf="secService.hasRoleIn(['USER'])">Acheteur</th>
                    <th>Montant</th>
                    <th>Devise</th>
                    <th>Operations</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let p of pagedProjects">
                    <td>
<!--                      <div>{{ p.n_contract }}</div>-->
                      <div class="container">
                        <div class="row">
                          <div class="col d-flex align-items-center">
                            <div class="icon-container me-2 " *ngIf="p.evaluationId">
                              <div class="circle"></div>
                              <div class="checkmark">&#10003;</div>
                            </div>
                            <div class="icon-container me-2" *ngIf="!p.evaluationId">
                              <div class="red-circle"></div>
                              <div class="x-mark">X</div>
                            </div>
                            <div>{{ p.n_contract }}</div>
                          </div>
                        </div>
                      </div>

                    </td>
                    <td>
                      <div *ngIf="secService.hasRoleIn(['BUYER'])">{{ p.projectManagerName }}</div>
                      <div *ngIf="secService.hasRoleIn(['USER'])">{{ p.buyerName }}</div>
                    </td>
<!--                    <td *ngIf="p.evaluationId; else missingValue">-->
<!--                      <div [style.color]="p.evaluation_score >= 80 ? 'green' : p.evaluation_score >= 50 ? 'orange' : 'red'">-->
<!--                        <b>{{ p.evaluation_score | number:'1.0-1' }}</b></div>-->
<!--                    </td>-->
                    <td>
                      <div>
                        <b>{{ p.amount | number:'1.0-1' }}</b></div>
                    </td>
                    <td>
                      <div>
                        <b>DH</b></div>
                    </td>
                    <td>
                      <i *ngIf="secService.hasRoleIn(['USER' , 'BUYER'])" class="m-3 link-text2" (click)="handleGetDetailsOfProject(p)" >Details</i>
                      <i *ngIf="secService.hasRoleIn(['USER']) && !p.evaluationId"  class="m-3 link-text2" (click)="handleAddEvaluationToProject(p)" >Évaluer</i>
                      <i *ngIf="secService.hasRoleIn(['BUYER'])"  class="m-3 link-text2" (click)="handleEditProject(p)" >Modifier</i>
                      <i *ngIf="secService.hasRoleIn(['BUYER'])"  class="m-3 link-text2" (click)="handleDeleteProject(p)" >Supprimer</i>
                      <i *ngIf="secService.hasRoleIn(['USER']) && p.evaluationId"  class="m-3 link-text2" (click)="handleDeleteEvaluation(p)" >Supprimer Évaluation</i>
                    </td>
                  </tr>
                  </tbody>
                  <div *ngIf="secService.hasRoleIn(['BUYER'])">
                    <div class="centered">
                      <button class="rounded-button mt-3" routerLink="/new-project">Ajouter un projet</button>
                    </div>
                  </div>
                </table>
              </div>
              <div class="row">
                <div class="col-md-6 align-self-center">
                  <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Page {{currentPage+1}} of {{maxPage+1}}</p>
                </div>
                <div class="col-md-6">
                  <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                    <ul class="pagination">
                      <button class="button-like" [disabled]="currentPage == 0" (click)="previousPage()">
                        <li class="page-item disabled" ><a class="page-link" aria-label="Previous"><span
                          aria-hidden="true" >«</span></a></li>
                      </button>
                      <li class="page-item active" ><a class="page-link" style="background-color: rgb(22,180,123)">{{ currentPage + 1 }} of {{ maxPage + 1 }}</a>
                      </li>
                      <button class="button-like" [disabled]="currentPage >= maxPage" (click)="nextPage()">
                        <li class="page-item disabled"><a class="page-link" aria-label="Previous"><span
                          aria-hidden="true">»</span></a></li>
                      </button>
                    </ul>
                  </nav>
                </div>
<!--                <div class="row mt-1">-->
<!--                  <div class="col">-->
<!--                    <div class="d-flex align-items-center">-->
<!--                      <div><i class="bi bi-recycle m-3"></i></div>-->
<!--                      <div>Supprimmer l'évaluation</div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="col">-->
<!--                    <div class="d-flex align-items-center">-->
<!--                      <div><i class="bi bi-pencil-square m-3"></i></div>-->
<!--                      <div>Modifier Le Projet</div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="col">-->
<!--                    <div class="d-flex align-items-center">-->
<!--                      <div><i class="bi bi-trash m-3"></i></div>-->
<!--                      <div>Supprimer Le Projet</div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
              </div>
              <div class="row mt-4 justify-content-center">
                <div class="col">
                  <div class="d-flex align-items-center">
                    <div><div class="icon-container me-2 ">
                      <div class="circle"></div>
                      <div class="checkmark">&#10003;</div>
                    </div></div>
                    <div>Projet évalué</div>
                  </div>
                </div>
                <div class="col">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon-container me-2">
                        <div class="red-circle"></div>
                        <div class="x-mark">X</div>
                      </div>
                    </div>
                    <div>projet non encore évalué</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
</ng-container>
<ng-template #failureOrLoading>
  <ng-container *ngIf="errorMessage ; else loading">
    <div class="text-danger">
      {{ errorMessage }}
    </div>
  </ng-container>
  <ng-template #loading>
    Loading...........
  </ng-template>
</ng-template>
<ng-template #missingValue>
  <td>N/A</td>
</ng-template>
<ng-template #noProjects>
  <td>0</td>
</ng-template>
</html>


