<!--<div class="container w-75 mt-2">-->
<!--  <div *ngIf="searchFormGroup" class="w-50">-->
<!--    <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchSupplier()" >-->
<!--      <div class="input-group">-->
<!--        <label class="input-group-text">Nom D'Entreprise : </label>-->
<!--        <input type="text" formControlName="keyword" class="form1">-->
<!--        <button class="button2">-->
<!--          <i class="bi bi-search"></i>-->
<!--        </button>-->
<!--      </div>-->
<!--    </form>-->
<!--  </div>-->

<!--  <div *ngIf="filterByRatingFormGroup" class="w-50">-->
<!--    <form [formGroup]="filterByRatingFormGroup" (ngSubmit)="handleFilterSuppliersByRating()" >-->
<!--      <div class="input-group">-->
<!--        <label class="input-group-text">Min Rating : </label>-->
<!--        <input type="number" formControlName="minRating" class="form1">-->
<!--        <button class="button2">-->
<!--          <i class="bi bi-search"></i>-->
<!--        </button >-->
<!--      </div>-->
<!--    </form>-->
<!--  </div>-->

<!--  <div class="row">-->
<!--    <div class="col-12">-->
<!--      <div class="card">-->
<!--        <div class="card-body text-center">-->
<!--          <h5 class="card-title m-b-0">Nos Fournisseurs</h5>-->
<!--        </div>-->
<!--        <ng-container *ngIf="suppliers | async as listSupplier ; else failureOrLoading">-->
<!--          <div class="table-responsive">-->
<!--            <table class="table border-black">-->
<!--              <thead class="thead-light">-->
<!--              <tr>-->
<!--                <th scope="col">Id</th>-->
<!--                <th scope="col">Nom D'Entreprise</th>-->
<!--                <th scope="col">Rating</th>-->
<!--                <th scope="col">Actions</th>-->
<!--              </tr>-->
<!--              </thead>-->
<!--              <tbody class="customtable">-->
<!--              <tr *ngFor="let s of pagedSuppliers">-->
<!--                <td>{{ s.id }}</td>-->
<!--                <td><a (click)="handleGetSupplierDetails(s)">{{ s.name }}</a></td>-->
<!--                <td *ngIf="s.rating != 0; else missingValue">-->
<!--                  <div [style.color]="s.rating >= 80 ? 'green' : s.rating >= 50 ? 'orange' : 'red'"><b>{{ s.rating }}</b></div>-->
<!--                </td>-->
<!--                <td>-->
<!--                  <i class="bi bi-plus-circle m-2" (click)="handleAddProjectToSupplier(s)"></i>-->
<!--                  <i class="bi bi-arrow-right-square m-2" (click)="handleGetProjectsOfSupplier(s)"></i>-->
<!--                  <i class="bi bi-pen m-2" (click)="handleEditSupplier(s)"></i>-->
<!--                  <i class="bi bi-trash m-2" (click)="handleDeleteSupplier(s)"></i>-->
<!--                </td>-->
<!--              </tr>-->
<!--              </tbody>-->
<!--            </table>-->
<!--          </div>-->
<!--        </ng-container>-->
<!--        <button class="button1 w-25" routerLink="/new-supplier"> Ajouter un fournisseur</button>-->
<!--        <div>-->
<!--          <button [disabled]="currentPage == 0" (click)="previousPage()">Previous</button>-->
<!--          <span>Page {{currentPage + 1}} of {{maxPage + 1}}</span>-->
<!--          <button [disabled]="currentPage >= maxPage" (click)="nextPage()">Next</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <ng-template #failureOrLoading>-->
<!--    <ng-container *ngIf="errorMessage ; else loading">-->
<!--      <div class="text-danger">-->
<!--        {{ errorMessage }}-->
<!--      </div>-->
<!--    </ng-container>-->
<!--    <ng-template #loading>-->
<!--      Loading...........-->
<!--    </ng-template>-->
<!--  </ng-template>-->
<!--</div>-->
<!--<ng-template #missingValue>-->
<!--  <td>N/A</td>-->
<!--</ng-template>-->

<html data-bs-theme="light" lang="en" style="margin-top: -50px;">

<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
  <title>Table - Brand</title>
</head>
<ng-container *ngIf="suppliers | async as listSupplier ; else failureOrLoading">
  <body id="page-top"
        style="margin-right: 50px;margin-left: 50px;margin-bottom: -208px;padding-top: 0px;padding-bottom: 222px;">
  <div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <div class="container py-4 py-xl-5" style="margin-top: 0px;">
          <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3" style="padding-top: 0px;margin-top: 2px;">
            <div class="col">
              <div class="card">
                <div class="card-body p-4">
                  <h4 class="card-title">Nombre de Fournisseurs</h4>
                  <h1>{{ totalNumberOfSuppliers }}</h1>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body p-4">
                  <h4 class="card-title">Nombre de Projets</h4>
                  <h1>{{ totalNumberOfProjects }}</h1>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body p-4">
                  <h4 class="card-title">Average Rating</h4>
                  <h1
                    [style.color]="averageRating >= 80 ? 'green' : averageRating >= 50 ? 'orange' : 'red'">{{ averageRating }}</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid"
             style="padding-left: 50px;padding-right: 50px;padding-top: 0px;margin-top: 10px;margin-bottom: 50px;padding-bottom: 0px;">
          <h3 class="text-dark mb-4" style="padding-bottom: 0px;"><span
            style="color: rgb(78, 115, 223);">Fournisseurs</span></h3>
          <div class="card shadow">
            <div class="card-header py-3">
              <p class="text-primary m-0 fw-bold">Informations des fournisseurs :</p>
            </div>
            <div class="card-body" style="padding-right: 80px;padding-left: 80px;margin-right: 0px;">
              <div class="row">
                <div class="col-md-6 col-lg-4">
                  <div *ngIf="searchFormGroup" id="dataTable_filter" class="text-md-end dataTables_filter"
                       style="margin-right: 10px; padding-right: 10px;">
                    <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchSupplier()">
                      <div class="input-group">
                        <input class="form-control form-control-sm" type="search" aria-controls="dataTable"
                               placeholder="Search" formControlName="keyword" />
                        <button class="btn btn-primary py-0" type="submit">
                          <i class="bi bi-search"></i>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
<!--                <div class="col" style="padding-right: 10px; margin-right: 0px;">-->
<!--                  <button class="btn btn-primary py-0" type="button"><i class="bi bi-search"></i></button>-->
<!--                </div>-->

                <div class="col-md-6 col-lg-4">
                  <div *ngIf="filterByRatingFormGroup" id="dataTable_filter2" class="text-md-end dataTables_filter"
                       style="margin-right: 10px; padding-right: 10px;">
                    <form [formGroup]="filterByRatingFormGroup" (ngSubmit)="handleFilterSuppliersByRating()">
                      <div class="input-group">
                        <input class="form-control form-control-sm" type="search" aria-controls="dataTable"
                               placeholder="Min Rating" formControlName="minRating" />
                        <button class="btn btn-primary py-0" type="submit">
                          <i class="bi bi-search"></i>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>


              <div id="dataTablediv" class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
                <table id="dataTable" class="table my-0">
                  <thead>
                  <tr>
                    <th>Nom</th>
                    <th style="padding-left: 0px;padding-right: 0px;">Nombre de projets</th>
                    <th>Rating</th>
                    <th>Operations</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let s of pagedSuppliers">
<!--                    (click)="handleGetSupplierDetails(s)"-->
                    <td>
                      <div class="link-text"  (click)="openSupplierDetailsDialog(s.id)">{{ s.name }}</div>
                    </td>
                    <td *ngIf="s.number_of_projects>0; else noProjects">
                      <div class="link-text" (click)="handleGetProjectsOfSupplier(s)">{{ s.number_of_projects }}</div>
                    </td>
                    <td *ngIf="s.rating != 0; else missingValue">
                      <div [style.color]="s.rating >= 80 ? 'green' : s.rating >= 50 ? 'orange' : 'red'">
                        <b>{{ s.rating }}</b></div>
                    </td>
                    <td>
                      <i class="link-text" (click)="handleAddProjectToSupplier(s)">Ajouter Un Projet</i>
                      <!--                    <i class="bi bi-arrow-right-square m-2" (click)="handleGetProjectsOfSupplier(s)"></i>-->
                      <i *ngIf="secService.hasRoleIn(['ADMIN'])" class="bi bi-pen m-2"
                         (click)="handleEditSupplier(s)"></i>
                      <i *ngIf="secService.hasRoleIn(['ADMIN'])" class="bi bi-trash m-2"
                         (click)="handleDeleteSupplier(s)"></i>
                    </td>
                  </tr>
                  </tbody>
                  <tfoot>
                  <tr *ngIf="secService.hasRoleIn(['ADMIN'])">
                    <td class="centered">
                      <button class="button_plus" routerLink="/new-supplier"></button>
                    </td>
                  </tr>
                  </tfoot>
                </table>
              </div>
              <div class="row">
                <div class="col-md-6 align-self-center">
                  <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Page 1 of 2</p>
                </div>
                <div class="col-md-6">
                  <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                    <ul class="pagination">
                      <button class="button-like" [disabled]="currentPage == 0" (click)="previousPage()">
                        <li class="page-item disabled"><a class="page-link" aria-label="Previous"><span
                          aria-hidden="true">«</span></a></li>
                      </button>
                      <li class="page-item active"><a class="page-link">{{ currentPage + 1 }} of {{ maxPage + 1 }}</a>
                      </li>
                      <button class="button-like" [disabled]="currentPage >= maxPage" (click)="nextPage()">
                        <li class="page-item disabled"><a class="page-link" aria-label="Previous"><span
                          aria-hidden="true">»</span></a></li>
                      </button>
                    </ul>
                  </nav>
                </div>
                <div class="row mt-1">
                  <div class="col">
                    <div class="d-flex align-items-center">
                      <div class="rounded-circle me-1"
                           style="background-color: green; width: 10px; height: 10px;"></div>
                      <div>Fortement Recommandé</div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="d-flex align-items-center">
                      <div class="rounded-circle me-1"
                           style="background-color: yellow; width: 10px; height: 10px;"></div>
                      <div>Recommandé</div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="d-flex align-items-center">
                      <div class="rounded-circle me-1" style="background-color: red; width: 10px; height: 10px;"></div>
                      <div>Non Recommandé</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
  </div>
  </body>
</ng-container>
<ng-template #failureOrLoading>
  <ng-container *ngIf="errorMessage ; else loading">
    <div class="text-danger">
      {{ errorMessage }}
    </div>
  </ng-container>
  <ng-template #loading>
    Loading...........
  </ng-template>
</ng-template>
<ng-template #missingValue>
  <td>N/A</td>
</ng-template>
<ng-template #noProjects>
  <td>0</td>
</ng-template>
</html>

