/* supplier-details-dialog.component.css */
.modal-fullscreen {
  width: 100%;
  height: 100%;
  margin: 50px;
  padding: 50px;

}


.link-text {
  color: blue; /* Set text color to blue */
  cursor: pointer; /* Change cursor to pointer on hover */
}

/*//*/
.button-like {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  outline: none;
  color: #007bff;
  text-decoration: underline;
}

.button-like:hover {
  text-decoration: none;
  color: #0056b3;
}
.input-group {
  display: flex;
  align-items: center;
}

.input-group input {
  flex: 1;
  margin-right: 5px; /* Adjust as needed */
}

.font1{
  font-family: 'Gilroy-Bold', sans-serif;
  font-size:16px;
  color:rgb(22,180,123) !important;
}
